<div class="container textarea">
  <%= form_with model: @user, local: true do |f| %>
  <div class="form">
    <div class="content">
      <p><%= f.label :store_name, "Twitterアカウント" %></p>
      <%= f.text_area :name, class:"text", placeholder:"＠以降を一人1行で入力してください" ,rows:"25" ,maxlength:"500" %>
    </div>
    <div class="content">
      <p><%= f.label :store_name, "文章" %></p>
      <%= f.text_area :text, class:"text", value: @value , placeholder:"送る文章を入力してください。", rows:"25" ,maxlength:"500" %>
    </div>
  </div>
  <div class="submit">
    <%= f.submit "送信する" ,class:"btn", id:"indicator" %>
  </div>
  <% end %>
</div>