<header>
  <h1><%= link_to 'BIGO', root_path, class: 'link' %></h1>
  <div class="header_list">
    <p><%= link_to 'トップ',  root_path, class: 'link' %></p>
    <p><%= link_to '統計', send_infos_path, class: 'link' %></p>
  </div>
</header>
<div class="container textarea">
  <%= form_with model: @user, local: true do |f| %>
  <div class="form">
    <div class="content">
      <p><%= f.label :store_name, "Twitterアカウント" %></p>
      <%= f.text_area :name, class:"text", placeholder:"＠以降を一人1行で入力してください" ,rows:"25" ,maxlength:"500" %>
    </div>
    <div class="content">
      <p><%= f.label :store_name, "文章" %></p>
      <%= f.text_area :text, class:"text", value: @value , placeholder:"送る文章を入力してください。", rows:"25" ,maxlength:"500" %>
    </div>
  </div>
  <div class="submit">
    <%= f.submit "送信する" ,class:"btn" %>
  </div>
  <% end %>
</div>