<div class="container textarea">
  <%= form_with model: @user, local: true do |f| %>
  <div class="form">
    <div class="content">
      <p class="title"><%= f.label :store_name, "Twitterアカウント" %></p>
      <%= f.text_area :name, id:"name", placeholder:"＠以降を一人1行で入力してください" ,rows:"25" ,maxlength:"500" %>
    </div>

    <div class="atena">
      <p class="title"><%= f.label :store_name, "宛名の敬称" %></p>
      <p class="row">※宛名と送信文章の間は1行分空いています。</p>
      <%= f.text_area :atena, id:"atena", placeholder:"様へ", rows:"10" ,maxlength:"50" %>
    </div>
    
    <div class="content">
      <p class="title"><%= f.label :store_name, "文章" %></p>
      <%= f.text_area :text, id:"text", placeholder:"送る文章を入力してください。", rows:"25" ,maxlength:"500" %>
      <!-- <%= f.text_area :text, id:"text", value: @value , placeholder:"送る文章を入力してください。", rows:"25" ,maxlength:"500" %>-->
    </div>
  </div>
  <div class="example">
    
  </div>
  <div class="submit">
    <%= f.submit "送信する" ,class:"btn", id:"indicator" %>
  </div>
  <% end %>
</div>

