<!DOCTYPE html>
<html>
  <head>
    <title>AutoTwitterDM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $(function(){
        console.log("jQueryは正しく使えます")
      });
    </script>
  </head>

  <body>
    <header>
      <h1><%= link_to 'BIGO', root_path, class: 'link' %></h1>
      <div class="header_list">
        <p><%= link_to 'トップ',  root_path, class: 'header_btn' %></p>
        <p><%= link_to '統計', send_infos_path, class: 'header_btn' %></p>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
